@import "./variables.scss";
.btn-white {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 1px solid $orange;
  background-color: $orange;
  width: 110px;
  height: 48px;
  color: $white !important;
}
.btn-sign {
  @extend .btn-white;
  color: $primary !important;
  background-color: $white;
}
