<div>
  <span>Find Job</span>
  <div>
    <img src="" alt="" />
    <input matInput type="text" />
  </div>
  <input type="text" />
  <select name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <select name="" id="">
    <option value="1">a</option>
    <option value="2">b</option>
    <option value="3">c</option>
  </select>
  <button>search</button>
</div>

<select matNativeControl required>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
<p-dropdown
  [options]="cities"
  optionLabel="name"
  [showClear]="true"
  placeholder="Select a City"
></p-dropdown>

<p-button label="check" icon="pi pi-check"></p-button>
