<div>
  <h3>Our numbers</h3>
  <span
    >As the fastest-growing online Job board, our mission is to help great
    individuals connect with great companies.</span
  >
  <ul>
    <li>
      <img src="assets/img/svg/briefcase.svg" alt="" />
      <span>20,583+</span>
      <p>job position</p>
    </li>
    <li>
      <img src="assets/img/svg/briefcase.svg" alt="" />
      <span>3,896+</span>
      <p>Successful hires</p>
    </li>
    <li>
      <img src="assets/img/svg/briefcase.svg" alt="" />
      <span>581+</span>
      <p>Verified companies</p>
    </li>
    <li>
      <img src="assets/img/svg/briefcase.svg" alt="" />
      <span>100K+</span>
      <p>Monthly visits</p>
    </li>
  </ul>
</div>
src\
