@import "./../../../assets/style/variables.scss";

:host mat-toolbar {
  background: transparent;
  height: 88px;
  nav {
    margin: 0 auto;
    width: 1280px;
    div {
      a {
        color: $grayscale;
        span {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
    ul {
      a {
        color: $grayscale;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
.active {
  color: $primary !important;
}
