<mat-toolbar>
  <nav class="flex justify-around items-center gap-3">
    <div>
      <a href="" class="flex justify-center gap-3">
        <img src="./assets/img/svg/logo.svg" alt="" />
        <span>Jobs</span>
      </a>
    </div>
    <ul class="flex justify-center gap-10 first">
      @for (item of navigation; track $index) {
        <li>
          <a
            [routerLink]="item.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ item.name }}
          </a>
        </li>
      }
    </ul>
    <span class="example-spacer"></span>
    <ul class="flex gap-5">
      <li>
        <a class="btn-white" href="">Log In</a>
      </li>
      <li><a class="btn-sign" href="">Sign Up</a></li>
    </ul>
  </nav>
</mat-toolbar>
